/* --- Table of Contents --- */

/*
    1. $Header
    2. $Content
    3. $Sidebar
    4. $Footer
    5. $Flair
    6. $Misc
*/

body {
    position: relative;
    background-color: #F0F3F3;
}

body:not(.logged-in) .infobar { display: none; }





/* ====================================
   ============= $Header ==============
   ==================================== */

body:not(.res-nightmode) #header {
    background: #222 url(%%header9%%) bottom left no-repeat;
    -webkit-box-shadow: 0px 2px 10px #888;
    -moz-box-shadow: 0px 2px 10px #888;
    box-shadow: 0px 2px 10px #888;
    border-bottom: 3px solid #232124;
    height: 150px;
}

body:not(.res-nightmode) #header-img-a {
    position: absolute;
    left: 0; top: 18px;
    padding: 0 14px 0 1px;
}

body:not(.res-nightmode) .pagename.redditname { font-size: 0; text-indent: -9999px; }
body:not(.res-nightmode) .pagename.redditname a {
    display: block;
    width: 300px; height: 100px;
    margin: 6px 0 0 40px;
    background: url(%%PureBFLogo80%%) no-repeat;
}

body:not(.res-nightmode) #sr-header-area, body:not(.res-nightmode) #sr-header-area *, body:not(.res-nightmode) #sr-header-area a,
body:not(.res-nightmode) #RESSubredditGroupDropdown, body:not(.res-nightmode) #RESSubredditGroupDropdown *,
body:not(.res-nightmode) #srList, body:not(.res-nightmode) #srList *, body:not(.res-nightmode) #sr-more-link {
    background-color: #222 !important;
    color: #eee !important;
    text-decoration: none;
}
body:not(.res-nightmode) #sr-header-area a:hover, body:not(.res-nightmode) #RESSubredditGroupDropdown a:hover, body:not(.res-nightmode) #srList a:hover {
    color: #acf !important;
}

body:not(.res-nightmode) #header-bottom-right {
    min-width: 305px; text-align: center;
    background-color: #232124; padding: 4px 8px !important;
}
body:not(.res-nightmode) #header-bottom-right .user { margin-left: 0 !important; }
body:not(.res-nightmode) #header-bottom-right a {
    color: #acf;
    font-weight: bold;
}
body:not(.res-nightmode) #header-bottom-right span {
    color: #EDEDED;
    font-weight: bold;
}
body:not(.res-nightmode) #header-bottom-right .userkarma {
    border: 0;
}
body:not(.res-nightmode) #header-bottom-right, body:not(.res-nightmode) #userbarToggle {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
body:not(.res-nightmode) #userbarToggle {
    background-color: #ededed !important;
    font-size: 0 !important;
}

body:not(.res-nightmode) #header .tabmenu {
    position: absolute;
    top: 162px;
    left: -2px;
    background: #F2F2F2;
    border: 1px solid #4c535d;
    background-image: -webkit-linear-gradient(top, #FCFCFC, #CCC);
    background-image: -moz-linear-gradient(top, #FCFCFC, #CCC);
    background-image: linear-gradient(top, #FCFCFC, #CCC);
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
    padding-left: 9px;
    font-size: 12px; line-height: 14px;
}
body:not(.res-nightmode) #header .tabmenu a {
    background-image: -webkit-linear-gradient(top, #FCFCFC, #CCC);
    background-image: -moz-linear-gradient(top, #FCFCFC, #CCC);
    background-image: linear-gradient(top, #FCFCFC, #CCC);
    display: inline-block; padding: 8px 12px;
    color: #202c75; border: 0 !important; border-left: 1px solid #4c535d !important;
}
body:not(.res-nightmode) #header .tabmenu li { margin: 0; }
body:not(.res-nightmode) #header .tabmenu a:hover {
    background-image: -webkit-linear-gradient(top, #CCC, #FCFCFC);
    background-image: -moz-linear-gradient(top, #CCC, #FCFCFC);
    background-image: linear-gradient(top, #CCC, #FCFCFC);
}
body:not(.res-nightmode) #header .tabmenu a, body:not(.res-nightmode) #header .tabmenu .selected a {
    color: #202c75;
    background-color: transparent !important;
}
body:not(.res-nightmode) #header .tabmenu .selected a, body:not(.res-nightmode) #header .tabmenu a:hover {
    color: royalblue !important;
    border-bottom: 0;
}
body:not(.res-nightmode) #header .tabmenu .selected {
    border-bottom: 0 !important;
}





/* ====================================
   ============= $Content =============
   ==================================== */

body > .content {
    margin: 8px;
    overflow: hidden;
}
body:not(.res-nightmode) > .content {
    margin-top: 54px;
}

body:not(.res-nightmode) .content a.title {
    -webkit-text-shadow: 1px 1px 3px #eee;
    -moz-text-shadow: 1px 1px 3px #eee;
    text-shadow: 1px 1px 3px #eee;
}
body:not(.res-nightmode) .content a.title:visited {
    color: blue !important;
}

body:not(.res-nightmode).comments-page .commentarea .nestedlisting > .comment,
body:not(.res-nightmode).comments-page .content .self > .entry,
body:not(.res-nightmode).comments-page .content .link > .entry {
    background-color: white !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    border-radius: 3px !important;
    margin: 0 8px 8px 10px !important;
    border: 1px solid #E6E6E6 !important;
    padding: 4px;
}
body:not(.res-nightmode).comments-page .content .self > .entry,
body:not(.res-nightmode).comments-page .content .link > .entry {
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    border-radius: 7px !important;
    max-width: 800px;
}
body:not(.res-nightmode) #siteTable {
    background-color: white;
    padding: 8px 2px;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-top: 0;
    -webkit-border-bottom-left-radius: 7px !important;
    -moz-border-bottom-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    -webkit-border-bottom-right-radius: 7px !important;
    -moz-border-bottom-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
}
body:not(.res-nightmode) #siteTable .thing {
    border-bottom: 1px dashed #e6e6e6;
    padding-bottom: 8px;
    margin-top: 4px;
}
body:not(.listing-page) .content .self > .entry,
body:not(.listing-page) .content .link > .entry {
    background-color: white !important;
    -moz-border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    border-radius: 7px !important;
    border: 1px solid #E6E6E6 !important;
    padding: 4px;
}

body:not(.res-nightmode) .link.last-clicked { border: 0; }

body:not(.res-nightmode) .arrow { margin: 2px auto 0 auto; }
body:not(.res-nightmode) .arrow.upmod { background: url(%%sprites%%) -2px -3px; }
body:not(.res-nightmode) .arrow.downmod { background: url(%%sprites%%) -2px -23px; }
body:not(.res-nightmode) .arrow.down { background: url(%%sprites%%) -23px -23px; }
body:not(.res-nightmode) .arrow.up { background: url(%%sprites%%) -23px -3px; }

body:not(.res-nightmode) .md hr { border: 1px dashed #888; }

/* Submit page boxes */
body:not(.res-nightmode) .linefield, body:not(.res-nightmode) .roundfield, body:not(.res-nightmode) .content.submit .info-notice {
    border: 1px solid #369;
}
/* Submit page tabmenu */
body:not(.res-nightmode) .content.submit .tabmenu a {
    border: 1px solid #369;
    color: #444;
}
body:not(.res-nightmode) .content.submit .tabmenu .selected a {
    color: #222;
}
body:not(.res-nightmode) .formtabs-content {
    border: 1px solid #369;
}





/* ====================================
   ============= $Sidebar =============
   ==================================== */

body:not(.res-nightmode) .side {
    padding: 50px 4px 0px 8px;
    margin-right: 0;
    background: #DDD;
    border-bottom: 1px solid #ccc;
}
body:not(.res-nightmode) .side .option.add, body:not(.res-nightmode) .side .RESshortcutside, body:not(.res-nightmode) .side .RESDashboardToggle,
body:not(.res-nightmode) .side .option.remove, body:not(.res-nightmode) .side .RESshortcut.remove, body:not(.res-nightmode) .side .RESDashboardToggle.remove {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; font-size: 90%;
    border: 1px solid #aaa; margin: 2px; padding: 4px;
}
body:not(.res-nightmode) .side .option.add, body:not(.res-nightmode) .side .RESshortcutside, body:not(.res-nightmode) .side .RESDashboardToggle {
    background: #fafafa; color: #202c75;
    background-image: -webkit-linear-gradient(top, #fafafa, #e2e2e2);
    background-image: -moz-linear-gradient(top, #fafafa, #e2e2e2);
    background-image: linear-gradient(top, #fafafa, #e2e2e2);
}
body:not(.res-nightmode) .side .option.remove, body:not(.res-nightmode) .side .RESshortcut.remove, body:not(.res-nightmode) .side .RESDashboardToggle.remove {
    background: #e2e2e2; color: #202c75;
    background-image: -webkit-linear-gradient(top, #e2e2e2, #fafafa);
    background-image: -moz-linear-gradient(top, #e2e2e2, #fafafa);
    background-image: linear-gradient(top, #e2e2e2, #fafafa);
}
body:not(.res-nightmode) .subButtons .fancy-toggle-button { margin: 0; padding: 0; }
body:not(.res-nightmode) .side .option.add::before { content: "+" }
body:not(.res-nightmode) .side .option.remove::before { content: "-" }

body:not(.res-nightmode) .sidebox.submit {
    position: absolute;
    top: 156px;
    right: 6px;
    width: 297px;
    text-align: center;
    padding: 5px 0;
}
body:not(.res-nightmode) .sidebox.submit a {
    color: #ededed;
    font-size: 1.2em; padding: 5px 0;
    border: 1px solid #4c535d;
    background-color: #2c539e;
    background-image: -webkit-linear-gradient(top, #2c539e, #202c75);
    background-image: -moz-linear-gradient(top, #2c539e, #202c75);
    background-image: linear-gradient(top, #2c539e, #202c75);
}
body:not(.res-nightmode) .sidebox.submit a:hover {
    text-decoration: underline;
    border: 1px solid #242124;
    background-color: #202c75;
    background-image: -webkit-linear-gradient(top, #202c75, #2c539e);
    background-image: -moz-linear-gradient(top, #202c75, #2c539e);
    background-image: linear-gradient(top, #202c75, #2c539e);
}
body:not(.res-nightmode) .sidebox.submit .morelink {
    background: transparent;
    border: 0;
}

body:not(.res-nightmode) .sidecontentbox .content {
    background-color: white;
}
body:not(.res-nightmode) .side .titlebox {
    border: 1px solid gray;
    background-color: white;
    padding: 6px;
}

body:not(.res-nightmode) .side .md h3 {
    margin: 6px 0px;
    padding: 4px 8px;
    background-color: royalblue;
    border: 1px solid blue;
    color: #fefefe;
    text-align: right;
}
body:not(.res-nightmode) .side .md h4 {
    color: #232124;
    font-size: 1.1em;
    margin-left: 6px;
}





/* ====================================
   ============= $Footer ==============
   ==================================== */

body:not(.res-nightmode) .footer-parent {
    background: url(%%footerbf%%) bottom center no-repeat;
}
body:not(.res-nightmode) .footer.rounded {
    background-color: #fff;
    opacity: 0.9;
}
.bottommenu {
    color: black;
    font-size: smaller;
    clear: both;
}





/* ====================================
   ============= $Flair ===============
   ==================================== */

/* User Flair */

.flair {
    font-weight: bold;
    background-color: #fff !important;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    line-height: 18px; padding: 0 2px 0 22px;
}

/* RIBBONS */

.flair-admin::after, .flair-webmaster::after, .flair-operations::after, .flair-developer::after, .flair-community::after, .flair-coordinator::after, .flair-special::after, .flair-bronze-star::after, .flair-silver-star::after, .flair-distinguished-service::after, .flair-commendation::after, .flair-lead::after, .flair-medal-of-honor::after {
    line-height: 18px; font-size: 18px;
}

.flair-admin::after { content: url(%%admin%%); }
.flair-webmaster::after { content: url(%%webmaster%%); }
.flair-operations::after { content: url(%%operations%%); }
.flair-developer::after { content: url(%%developer%%); }
.flair-community::after { content: url(%%community%%); }
.flair-coordinator::after { content: url(%%coordinator%%); }
.flair-special::after { content: url(%%special%%); }
.flair-bronze-star::after { content: url(%%bronze-star%%); }
.flair-silver-star::after { content: url(%%silver-star%%); }
.flair-distinguished-service::after { content: url(%%distinguished-service%%); }
.flair-commendation::after { content: url(%%commendation%%); }
.flair-lead::after { content: url(%%lead%%); }
.flair-medal-of-honor::after { content: url(%%medal-of-honor%%); }

.flair-admin.flair-webmaster::after { content: url(%%admin%%) url(%%webmaster%%); }
.flair-admin.flair-operations::after { content: url(%%admin%%) url(%%operations%%); }
.flair-admin.flair-developer::after { content: url(%%admin%%) url(%%developer%%); }
.flair-admin.flair-community::after { content: url(%%admin%%) url(%%community%%); }
.flair-admin.flair-coordinator::after { content: url(%%admin%%) url(%%coordinator%%); }
.flair-admin.flair-special::after { content: url(%%admin%%) url(%%special%%); }
.flair-admin.flair-bronze-star::after { content: url(%%admin%%) url(%%bronze-star%%); }
.flair-admin.flair-silver-star::after { content: url(%%admin%%) url(%%silver-star%%); }
.flair-admin.flair-distinguished-service::after { content: url(%%admin%%) url(%%distinguished-service%%); }
.flair-admin.flair-commendation::after { content: url(%%admin%%) url(%%commendation%%); }
.flair-admin.flair-lead::after { content: url(%%admin%%) url(%%lead%%); }
.flair-admin.flair-medal-of-honor::after { content: url(%%admin%%) url(%%medal-of-honor%%); }
.flair-admin.flair-developer.flair-lead::after { content: url(%%admin%%) url(%%developer%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-operations::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%); }
.flair-admin.flair-webmaster.flair-developer::after { content: url(%%admin%%) url(%%webmaster%%) url(%%developer%%); }
.flair-admin.flair-webmaster.flair-community::after { content: url(%%admin%%) url(%%webmaster%%) url(%%community%%); }
.flair-admin.flair-webmaster.flair-coordinator::after { content: url(%%admin%%) url(%%webmaster%%) url(%%coordinator%%); }
.flair-admin.flair-webmaster.flair-special::after { content: url(%%admin%%) url(%%webmaster%%) url(%%special%%); }
.flair-admin.flair-webmaster.flair-bronze-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%bronze-star%%); }
.flair-admin.flair-webmaster.flair-silver-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%silver-star%%); }
.flair-admin.flair-webmaster.flair-distinguished-service::after { content: url(%%admin%%) url(%%webmaster%%) url(%%distinguished-service%%); }
.flair-admin.flair-webmaster.flair-commendation::after { content: url(%%admin%%) url(%%webmaster%%) url(%%commendation%%); }
.flair-admin.flair-webmaster.flair-lead::after { content: url(%%admin%%) url(%%webmaster%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-medal-of-honor::after { content: url(%%admin%%) url(%%webmaster%%) url(%%medal-of-honor%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%); }
.flair-admin.flair-webmaster.flair-operations.flair-community::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%community%%); }
.flair-admin.flair-webmaster.flair-operations.flair-coordinator::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%coordinator%%); }
.flair-admin.flair-webmaster.flair-operations.flair-special::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%special%%); }
.flair-admin.flair-webmaster.flair-operations.flair-bronze-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%bronze-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-silver-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%silver-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-distinguished-service::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%distinguished-service%%); }
.flair-admin.flair-webmaster.flair-operations.flair-commendation::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%commendation%%); }
.flair-admin.flair-webmaster.flair-operations.flair-lead::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-operations.flair-medal-of-honor::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%medal-of-honor%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-coordinator::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%coordinator%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-special::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%special%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-bronze-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%bronze-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-silver-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%silver-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-distinguished-service::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%distinguished-service%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-commendation::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%commendation%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-lead::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-medal-of-honor::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%medal-of-honor%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-special::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%special%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-bronze-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%bronze-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-silver-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%silver-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-distinguished-service::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%distinguished-service%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-commendation::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%commendation%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-lead::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-medal-of-honor::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%medal-of-honor%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-special::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%special%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-bronze-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%bronze-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-silver-star::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%silver-star%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-distinguished-service::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%distinguished-service%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-commendation::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%commendation%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-lead::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%lead%%); }
.flair-admin.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-medal-of-honor::after { content: url(%%admin%%) url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%medal-of-honor%%); }

.flair-webmaster.flair-operations::after { content: url(%%webmaster%%) url(%%operations%%); }
.flair-webmaster.flair-developer::after { content: url(%%webmaster%%) url(%%developer%%); }
.flair-webmaster.flair-community::after { content: url(%%webmaster%%) url(%%community%%); }
.flair-webmaster.flair-coordinator::after { content: url(%%webmaster%%) url(%%coordinator%%); }
.flair-webmaster.flair-special::after { content: url(%%webmaster%%) url(%%special%%); }
.flair-webmaster.flair-bronze-star::after { content: url(%%webmaster%%) url(%%bronze-star%%); }
.flair-webmaster.flair-silver-star::after { content: url(%%webmaster%%) url(%%silver-star%%); }
.flair-webmaster.flair-distinguished-service::after { content: url(%%webmaster%%) url(%%distinguished-service%%); }
.flair-webmaster.flair-commendation::after { content: url(%%webmaster%%) url(%%commendation%%); }
.flair-webmaster.flair-lead::after { content: url(%%webmaster%%) url(%%lead%%); }
.flair-webmaster.flair-medal-of-honor::after { content: url(%%webmaster%%) url(%%medal-of-honor%%); }
.flair-webmaster.flair-operations.flair-developer::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%); }
.flair-webmaster.flair-operations.flair-community::after { content: url(%%webmaster%%) url(%%operations%%) url(%%community%%); }
.flair-webmaster.flair-operations.flair-coordinator::after { content: url(%%webmaster%%) url(%%operations%%) url(%%coordinator%%); }
.flair-webmaster.flair-operations.flair-special::after { content: url(%%webmaster%%) url(%%operations%%) url(%%special%%); }
.flair-webmaster.flair-operations.flair-bronze-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%bronze-star%%); }
.flair-webmaster.flair-operations.flair-silver-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%silver-star%%); }
.flair-webmaster.flair-operations.flair-distinguished-service::after { content: url(%%webmaster%%) url(%%operations%%) url(%%distinguished-service%%); }
.flair-webmaster.flair-operations.flair-commendation::after { content: url(%%webmaster%%) url(%%operations%%) url(%%commendation%%); }
.flair-webmaster.flair-operations.flair-lead::after { content: url(%%webmaster%%) url(%%operations%%) url(%%lead%%); }
.flair-webmaster.flair-operations.flair-medal-of-honor::after { content: url(%%webmaster%%) url(%%operations%%) url(%%medal-of-honor%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%); }
.flair-webmaster.flair-operations.flair-developer.flair-coordinator::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%coordinator%%); }
.flair-webmaster.flair-operations.flair-developer.flair-special::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%special%%); }
.flair-webmaster.flair-operations.flair-developer.flair-bronze-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%bronze-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-silver-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%silver-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-distinguished-service::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%distinguished-service%%); }
.flair-webmaster.flair-operations.flair-developer.flair-commendation::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%commendation%%); }
.flair-webmaster.flair-operations.flair-developer.flair-lead::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%lead%%); }
.flair-webmaster.flair-operations.flair-developer.flair-medal-of-honor::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%medal-of-honor%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-special::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%special%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-bronze-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%bronze-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-silver-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%silver-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-distinguished-service::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%distinguished-service%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-commendation::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%commendation%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-lead::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%lead%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-medal-of-honor::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%medal-of-honor%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-special::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%special%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-bronze-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%bronze-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-silver-star::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%silver-star%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-distinguished-service::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%distinguished-service%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-commendation::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%commendation%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-lead::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%lead%%); }
.flair-webmaster.flair-operations.flair-developer.flair-community.flair-coordinator.flair-medal-of-honor::after { content: url(%%webmaster%%) url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%medal-of-honor%%); }

.flair-operations.flair-developer::after { content: url(%%operations%%) url(%%developer%%); }
.flair-operations.flair-community::after { content: url(%%operations%%) url(%%community%%); }
.flair-operations.flair-coordinator::after { content: url(%%operations%%) url(%%coordinator%%); }
.flair-operations.flair-special::after { content: url(%%operations%%) url(%%special%%); }
.flair-operations.flair-bronze-star::after { content: url(%%operations%%) url(%%bronze-star%%); }
.flair-operations.flair-silver-star::after { content: url(%%operations%%) url(%%silver-star%%); }
.flair-operations.flair-distinguished-service::after { content: url(%%operations%%) url(%%distinguished-service%%); }
.flair-operations.flair-commendation::after { content: url(%%operations%%) url(%%commendation%%); }
.flair-operations.flair-lead::after { content: url(%%operations%%) url(%%lead%%); }
.flair-operations.flair-medal-of-honor::after { content: url(%%operations%%) url(%%medal-of-honor%%); }
.flair-operations.flair-developer.flair-community::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%); }
.flair-operations.flair-developer.flair-coordinator::after { content: url(%%operations%%) url(%%developer%%) url(%%coordinator%%); }
.flair-operations.flair-developer.flair-special::after { content: url(%%operations%%) url(%%developer%%) url(%%special%%); }
.flair-operations.flair-developer.flair-bronze-star::after { content: url(%%operations%%) url(%%developer%%) url(%%bronze-star%%); }
.flair-operations.flair-developer.flair-silver-star::after { content: url(%%operations%%) url(%%developer%%) url(%%silver-star%%); }
.flair-operations.flair-developer.flair-distinguished-service::after { content: url(%%operations%%) url(%%developer%%) url(%%distinguished-service%%); }
.flair-operations.flair-developer.flair-commendation::after { content: url(%%operations%%) url(%%developer%%) url(%%commendation%%); }
.flair-operations.flair-developer.flair-lead::after { content: url(%%operations%%) url(%%developer%%) url(%%lead%%); }
.flair-operations.flair-developer.flair-medal-of-honor::after { content: url(%%operations%%) url(%%developer%%) url(%%medal-of-honor%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%); }
.flair-operations.flair-developer.flair-community.flair-special::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%special%%); }
.flair-operations.flair-developer.flair-community.flair-bronze-star::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%bronze-star%%); }
.flair-operations.flair-developer.flair-community.flair-silver-star::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%silver-star%%); }
.flair-operations.flair-developer.flair-community.flair-distinguished-service::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%distinguished-service%%); }
.flair-operations.flair-developer.flair-community.flair-commendation::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%commendation%%); }
.flair-operations.flair-developer.flair-community.flair-lead::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%lead%%); }
.flair-operations.flair-developer.flair-community.flair-medal-of-honor::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%medal-of-honor%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-special::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%special%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-bronze-star::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%bronze-star%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-silver-star::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%silver-star%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-distinguished-service::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%distinguished-service%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-commendation::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%commendation%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-lead::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%lead%%); }
.flair-operations.flair-developer.flair-community.flair-coordinator.flair-medal-of-honor::after { content: url(%%operations%%) url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%medal-of-honor%%); }

.flair-developer.flair-community::after { content: url(%%developer%%) url(%%community%%); }
.flair-developer.flair-coordinator::after { content: url(%%developer%%) url(%%coordinator%%); }
.flair-developer.flair-special::after { content: url(%%developer%%) url(%%special%%); }
.flair-developer.flair-bronze-star::after { content: url(%%developer%%) url(%%bronze-star%%); }
.flair-developer.flair-silver-star::after { content: url(%%developer%%) url(%%silver-star%%); }
.flair-developer.flair-distinguished-service::after { content: url(%%developer%%) url(%%distinguished-service%%); }
.flair-developer.flair-commendation::after { content: url(%%developer%%) url(%%commendation%%); }
.flair-developer.flair-lead::after { content: url(%%developer%%) url(%%lead%%); }
.flair-developer.flair-medal-of-honor::after { content: url(%%developer%%) url(%%medal-of-honor%%); }
.flair-developer.flair-community.flair-coordinator::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%); }
.flair-developer.flair-community.flair-special::after { content: url(%%developer%%) url(%%community%%) url(%%special%%); }
.flair-developer.flair-community.flair-bronze-star::after { content: url(%%developer%%) url(%%community%%) url(%%bronze-star%%); }
.flair-developer.flair-community.flair-silver-star::after { content: url(%%developer%%) url(%%community%%) url(%%silver-star%%); }
.flair-developer.flair-community.flair-distinguished-service::after { content: url(%%developer%%) url(%%community%%) url(%%distinguished-service%%); }
.flair-developer.flair-community.flair-commendation::after { content: url(%%developer%%) url(%%community%%) url(%%commendation%%); }
.flair-developer.flair-community.flair-lead::after { content: url(%%developer%%) url(%%community%%) url(%%lead%%); }
.flair-developer.flair-community.flair-medal-of-honor::after { content: url(%%developer%%) url(%%community%%) url(%%medal-of-honor%%); }
.flair-developer.flair-community.flair-coordinator.flair-special::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%special%%); }
.flair-developer.flair-community.flair-coordinator.flair-bronze-star::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%bronze-star%%); }
.flair-developer.flair-community.flair-coordinator.flair-silver-star::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%silver-star%%); }
.flair-developer.flair-community.flair-coordinator.flair-distinguished-service::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%distinguished-service%%); }
.flair-developer.flair-community.flair-coordinator.flair-commendation::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%commendation%%); }
.flair-developer.flair-community.flair-coordinator.flair-lead::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%lead%%); }
.flair-developer.flair-community.flair-coordinator.flair-medal-of-honor::after { content: url(%%developer%%) url(%%community%%) url(%%coordinator%%) url(%%medal-of-honor%%); }

.flair-community.flair-coordinator::after { content: url(%%community%%) url(%%coordinator%%); }
.flair-community.flair-special::after { content: url(%%community%%) url(%%special%%); }
.flair-community.flair-coordinator.flair-special::after { content: url(%%community%%) url(%%coordinator%%) url(%%special%%); }
.flair-coordinator.flair-special::after { content: url(%%coordinator%%) url(%%special%%); }
.flair-coordinator.flair-bronze-star::after { content: url(%%coordinator%%) url(%%bronze-star%%); }
.flair-coordinator.flair-silver-star::after { content: url(%%coordinator%%) url(%%silver-star%%); }
.flair-coordinator.flair-distinguished-service::after { content: url(%%coordinator%%) url(%%distinguished-service%%); }
.flair-coordinator.flair-commendation::after { content: url(%%coordinator%%) url(%%commendation%%); }
.flair-coordinator.flair-lead::after { content: url(%%coordinator%%) url(%%lead%%); }
.flair-coordinator.flair-medal-of-honor::after { content: url(%%coordinator%%) url(%%medal-of-honor%%); }

/* Custom ribbon flair */
/* Generally needed if user flair is greater than two ribbons */

.flair-developer.flair-lead.flair-admin::after { content: url(%%developer%%) url(%%lead%%) url(%%admin%%); } /* UGTA (Webs961) */


/* RANKS */

.flair-private, .flair-sergeant, .flair-lieutenant, .flair-captain, .flair-major, .flair-lt-colonel, .flair-general {
    background: url(%%ranks%%) 3px 1px no-repeat;
}

.flair-sergeant   { background-position: 3px  -39px; }
.flair-lieutenant { background-position: 3px  -79px; }
.flair-captain    { background-position: 3px -117px; }
.flair-major      { background-position: 3px -157px; }
.flair-lt-colonel { background-position: 3px -196px; }
.flair-general    { background-position: 3px -239px; }

/* DICE and EA employees */

.id-t2_5687g::before
{ content: ''; display: inline-block; width: 32px; height: 10px; background: url(%%badges%%) 0 0 no-repeat; }

/* Shows image displaying all flair */
.linefield.flair-jump::after {
    display: block;
    content: url(%%titles%%);
}

/* Link Flair */
.linkflair-announce .linkflairlabel {
    border: 0;
    background-color: transparent;
    color: red;
    font-size: inherit;
    text-shadow: 1px 1px 3px #ccc;
}
.linkflair-event .linkflairlabel {
    border: 0;
    background-color: transparent;
    color: #13A000;
    font-size: inherit;
    text-shadow: 1px 1px 3px #ccc;
}
body:not(.res-nightmode) .linkflairlabel + a.title {
    color: orangered !important;
    text-shadow: 1px 1px 3px #ccc;
}
body:not(.res-nightmode) .linkflairlabel + a.title:visited {
    color: orangered !important;
    text-shadow: none;
}





/* ====================================
   ============= $Misc ================
   ==================================== */

/* Ribbons in sidebar */

a[href$='#admin'] { content: url(%%admin%%); }
a[href$='#webmaster'] { content: url(%%webmaster%%); }
a[href$='#operations'] { content: url(%%operations%%); }
a[href$='#developer'] { content: url(%%developer%%); }
a[href$='#community'] { content: url(%%community%%); }
a[href$='#coordinator'] { content: url(%%coordinator%%); }
a[href$='#special'] { content: url(%%special%%); }
a[href$='#lead'] { content: url(%%lead%%); }

/* Messages */
body:not(.res-nightmode).comments-page > .content::before, body:not(.res-nightmode).listing-page > .content::before {
    display: block;
    background: #ddd;
    margin: 4px 0 0 0; padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 0;
    font-size: 1.3em;
    -webkit-border-top-left-radius: 7px;
    -moz-border-top-left-radius: 7px;
    border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    -moz-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
}
body:not(.logged-in).comments-page > .content::before, body:not(.logged-in).listing-page > .content::before { content: 'Log in and join the community!'; }
body:not(.subscriber).comments-page > .content::before, body:not(.subscriber).listing-page > .content::before { content: 'Make sure to subscribe for updates and news!'; }
body.subscriber.comments-page > .content::before, body.subscriber.listing-page > .content::before { content: 'Thanks for subscribing! Check back for more updates.'; }

/* Hide some shit */
body:not(.res-nightmode) .nub, body:not(.res-nightmode) .titlebox .word, body:not(.res-nightmode) .bottom, body:not(.res-nightmode) .sidebox .spacer, body:not(.res-nightmode) .sidebox.create, body:not(.res-nightmode) .nsfw-stamp acronym, body:not(.res-nightmode) .titlebox .redditname a, #userbarToggle { display: none !important; }

/* Subscribe Notifications */
body:not(.subscriber) #header .tabmenu::after {
    content: " subscribe for updates!";
    padding: 8px 12px 8px 8px;
    color: #202c75;
    font-weight: bold;
    border-left: 1px solid #4c535d;
}

/* Code blocks */
body:not(.res-nightmode) .usertext-body pre {
    margin: 10px 0;
    padding: 10px
}
body:not(.res-nightmode) .usertext-body pre, body:not(.res-nightmode) .usertext-body p > code {
    background: #f6f6f6;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px
}
body:not(.res-nightmode) .usertext-body code {
    color: #222;
    font-family: Consolas, Monaco, monospace;
    line-height: 1.5em
}
body:not(.res-nightmode) .usertext-body p > code {
    padding: 0 3px
}

/* 'Submitted ago' */
.listing-page .entry .tagline > time:not(.edited-timestamp)::before {
    content: "launched ";
    font-size: x-small;
}
.link .entry .tagline {
    font-size: 0px !important;
}
.link .entry .tagline time:not(.edited-timestamp)::after {
    content: " ago by ";
    font-size: x-small;
}
.link .entry .tagline time, .entry .tagline a, .tagline span {
    font-size: x-small;
}

/* Change Readers */
.titlebox .subscribers .number:after {
    content: " Soldiers";
}
.titlebox .users-online .number:after {
    content: " combat ready";
}

/* Style PBStaff */
.side .md table {
    margin: auto;
}
.side .md table tr, .md table td, .md table th {
    border: 0 !important;
}

/* Style topMenu */

.side .md > ol {
    float: left;
    width: auto;
    z-index: 99;
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 164px; right: 330px;
    background: #F5A802;
    background-image: -webkit-linear-gradient(top, #FCCF51, #F5A802);
    background-image: -moz-linear-gradient(top, #FCCF51, #F5A802);
    background-image: linear-gradient(top, #FCCF51, #F5A802);
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    box-shadow: 2px 2px 2px #ccc;
}
.side .md ol {
    margin: 0; padding: 0;
    list-style: none;
    font-weight: bold;
}
.side .md ol li {
    float: left;
    margin: 0;
    position: relative;
}
.side .md ol a {
    display: block;
    padding: 8px 12px;
    color: #000;
    -webkit-text-shadow: 1px 1px #FCCF51;
    -moz-text-shadow: 1px 1px #FCCF51;
    text-shadow: 1px 1px #FCCF51;
    border: 1px solid #c38602;
    border-left: 0;
}
.side .md ol a:hover {
    color: #222;
    background: #FBD97B;
    background-image: -webkit-linear-gradient(top, #F6B217, #FBD97B);
    background-image: -moz-linear-gradient(top, #F6B217, #FBD97B);
    background-image: linear-gradient(top, #F6B217, #FBD97B);
    -webkit-text-shadow: 1px 1px #FBD97B;
    -moz-text-shadow: 1px 1px #FBD97B;
    text-shadow: 1px 1px #FBD97B;
}
.side .md ol li:first-child a, .side .md ol ol li a { border-left: 1px solid #c38602; }

/* dropdown */

.side .md ol ol {
    background: #fff;
    list-style: none;
    position: absolute;
    left: -9999px;
}
.side .md ol ol li {
    float: none;
}
.side .md ol ol a {
    white-space: nowrap;
    border-top: 0;
    background: #F5A802;
    background-image: -webkit-linear-gradient(top, #FCCF51, #F5A802);
    background-image: -moz-linear-gradient(top, #FCCF51, #F5A802);
    background-image: linear-gradient(top, #FCCF51, #F5A802);
}
.side .md ol li:hover ol, .side .md ol li:active ol {
    left: 0;
}
.side .md ol li:not(:first-child):hover ol {
    left: -1px;
}
.side .md ol li:hover ol a {
    text-decoration: none;
    cursor: pointer;
}
.side .md ol li:hover ol li a:hover {
    background: #FBD97B;
    background-image: -webkit-linear-gradient(top, #F6B217, #FBD97B);
    background-image: -moz-linear-gradient(top, #F6B217, #FBD97B);
    background-image: linear-gradient(top, #F6B217, #FBD97B);
    color: #222;
}

a[href="http://battlelog.battlefield.com/bf3/servers/show/da2f4cd9-6630-4e26-9d3d-a7a263b167ed"]::after,
a[href="http://www.reddit.com/r/purebattlefield/faq#PBScreensUserGuide"]::after {
    content: ''; height: 16px; width: 20px; display: inline-block;
    background: url(%%sprites%%) 4px -43px no-repeat; vertical-align: middle;
}





/***************************************************************************

 **************************** EDIT STUFF HERE! *****************************

 ***************************************************************************/

/* Top message with events */
body.subscriber.comments-page > .content::before, body.subscriber.listing-page > .content::before
{ content: 'Current cash runway (12/1): 70 days. Goal: 90 days. Want to help? Click the yellow Donate button above!'; }
/* Header background image */
body:not(.res-nightmode) #header { background-image: url(%%header11%%); } /* choose a header header1 through header11 */
